<div>
  <img src="{{this.src}}" alt="{{this.alt}}">
  <p class="font-normal italic text-gray-500 mb-4 break-words">{{this.title}}</p>
  <p>
    <a class="underline text-sky-600" href="{{this.link}}" target="_blank">{{this.linkText}}</a>
  </p>
</div>